* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #45454d;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header #show-hello-world{
  font-size: 40px;
  color: #ff4893;
}